@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');


:root {
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9FF;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --skin-color: #CA2DE8;
    --linear-gradiente-color:  linear-gradient(#3b82f6, rgb(168,85,247), #ec4899);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: linear-gradient(to right, #3b82f6, rgb(168,85,247), #ec4899);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.slidebar-content {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.slidebar-content .logo {
    position: absolute;
    top: 50px;
    text-align: center;
}

.slidebar-content .logo a {
    font-family: 'Great Vibes', cursive ;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: var(--text-black-900);
    padding: 15px 20px;
    position: relative;
}

.slidebar-content .logo a span {
    position: absolute;
    top: 14%;
    left: 95%; 
    transform: translate(-50%, -50%);
    padding: 0px 50px;
}

.slidebar-content .logo a img {
    width: 95%;
    margin-left: -15px;
}

.slidebar-content .nav {
    margin-top: 50px;
}

.slidebar-content .nav li {
    margin-bottom: 20px;
    display: block;
}

.slidebar-content .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.slidebar-content .nav li a.active {
    color: var(--skin-color);
}

.slidebar-content .nav li a i {
    margin-right: 15px;
}

.slidebar-content .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
 
}

.slidebar-content .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.slidebar-content .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.slidebar-content .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    background-image: url(/src/assets/gif/background-home.gif);
    background-size: cover;
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
    color: var(--bg-black-900);
}

h3.hello span {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-weight: 700;
    background-image: linear-gradient(to right, #c084fc, #db2777);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
    color: var(--bg-black-900);
}

.typing {
    background-image: linear-gradient(to right, #c084fc, #db2777);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--bg-black-50);
}

